<header>
    <nav>
<mat-toolbar  class="toolbar">
  
   <div><a href=""><img src="https://weblearnbd.net/tphtml/medixare/assets/img/logo/logo.png" alt=""></a></div>
  <button mat-icon-button class="btn">
    <span>
      <select name="val" id="val">
        <option value="vals">Home</option>
        <option value="vals">option2</option>

      </select>
    </span>
  </button>
  <button mat-icon-button class="btn ">
    <span>
    <a href="">About Us</a>  
    </span>
  </button>
  <button mat-icon-button class="btn">
    <span>
      <select name="val" id="val">
        <option value="vals">Pages</option>
        <option value="vals">option2</option>

      </select>
    </span>
  </button>
 
  <button mat-icon-button class="btn">
    <span>
      <select name="val" id="val">
        <option value="vals">Services </option>
        <option value="vals">option2</option>

      </select>
    </span>
  </button>
  <button mat-icon-button class="btn">
    <span>
      <select name="val" id="val">
        <option value="vals"> News</option>
        <option value="vals">option2</option>

      </select>
    </span>
  </button>
<span class="search"> <input type="text" placeholder="Search.."></span>
 <button class="btn apointment">
   Appointment
 </button>
</mat-toolbar>
</nav> 
</header>


