<div class="main_container"></div>
<div class="content">
  <h1>Live in care your</h1>
  <span> Family will love</span>
  <div>
    <button class="btn-information">More Information</button>
  </div>
</div>
<mat-card class="card">
  <mat-card-title-group>
    <mat-card-title class="careCard">Impartial care</mat-card-title>
    <mat-card-subtitle class="subCareCard"
      >We are best home care service provider
    </mat-card-subtitle>
    <div id="serviceprovider">We are best home care service provider :
     <a href="#">SEE ALL SERVICE -></a>
    </div>
  </mat-card-title-group>
  <mat-card-content> </mat-card-content>
</mat-card>
<div class="secondbg">
  <div class="box1">
    <div class="boxcontent">Best Home Care</div>
    <div class="boxSubcontent">center with Love</div>
    <p class="pid">
      The days are gone where you had to settle for a care home in your later
      yoears
    </p>
    <div>
      <button class="boxbtn"><a routerLink="aboutus"> About Us</a></button>
    </div>
  </div>
  <div class="box2">
    <div class="boxcontent">Why most of the</div>
    <div class="boxSubcontent">people choose us</div>
    <p class="pid">
      The days are gone where you had to settle for a care home in your later
      yoears
    </p>
    <div>
      <button class="boxbtn"><a routerLink="ourstory"> Our Story</a></button>
    </div>
  </div>
</div>
